@import 'tailwindcss' important;
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-body:
    'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono',
    'Courier New', 'monospace';
}

/* pagefind */

.pagefind-ui {
  @apply relative hidden md:block;
}

.pagefind-ui__drawer {
  @apply absolute divide-y divide-gray-100 rounded-lg bg-gray-100 border-1 dark:text-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:divide-gray-700 p-4;
}

.pagefind-ui__drawer {
  top: calc(var(--spacing) * 16) !important;
}

.pagefind-ui__result{
  @apply border-gray-600
}

.pagefind-ui__result-link{
  @apply text-gray-900 dark:text-white
}

.pagefind-ui__results-area{
  @apply -mt-3
}

.pagefind-ui__form::before {
  top: calc(var(--spacing) * 2.8) !important;
  left: calc(var(--spacing) * 3.6) !important;
}

.pagefind-ui__form::before {
  @apply pointer-events-none absolute h-4 w-4 bg-gray-500 ps-3 dark:bg-gray-400;
}

.pagefind-ui__search-input {
  @apply block h-fit w-full rounded-lg border border-gray-300 bg-gray-50 p-2 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500;
}

.pagefind-ui__search-clear {
  display: none;
}

/* pagefind */

/* shiki */
@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* 可选，如果你还需要字体样式 */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
/* shiki */
