---
import Base from "../layouts/Base.astro";
import Hero from "../components/Index/Hero.astro";
import LatestPosts from "../components/Index/LatestPosts.astro";
import Projects from "../components/Index/Projects.astro";
import AboutCard from "../components/Index/AboutCard.astro";
import BlogStats from "../components/Index/BlogStats.astro";
---

<Base 
  title="首页" 
  description="欢迎来到 Nick's Blog，这里分享技术文章、Astro框架开发经验以及二次元相关内容"
  type="website"
>
  <!-- Hero Section -->
  <div class="relative">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <Hero />
    </div>
  </div>

  <!-- Latest Posts Section -->
  <div class="border-t border-gray-200 dark:border-gray-700 bg-gray-50 dark:bg-gray-900">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <LatestPosts />
    </div>
  </div>

  <!-- About Card Section -->
  <div class="border-t border-gray-200 dark:border-gray-700 bg-gray-50 dark:bg-gray-900">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <AboutCard />
    </div>
  </div>


  <!-- Projects Section -->
  <div class="border-t border-gray-200 dark:border-gray-700">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <Projects />
    </div>
  </div>

  <!-- Blog Stats Section -->
  <div class="border-t border-gray-200 dark:border-gray-700">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <BlogStats />
    </div>
  </div>
</Base>

