---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---
<html lang="zh-CN">
  <head><BaseHead title={title}/></head>
  <body>
    <nav>
      <a href="/">主页</a>
      <a href="/blog">文章</a>
      <a href="/tags">标签</a>
      <a href="/friends">友链</a>
      <a href="/about">关于</a>
    </nav>
    <main>
      <slot />
    </main>
    <footer><Footer /></footer>
  </body>
</html>
