---
import Base from "./Base.astro";
const frontmatter = Astro.props.frontmatter || Astro.props;
---

<Base title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>{frontmatter.description}</p>
  <p>
    {
      new Date(frontmatter.pubDate).toLocaleDateString("zh-CN", {
        year: "numeric",
        month: "long",
        day: "numeric",
      })
    }
  </p>
  <article>
    <slot />
  </article>
</Base>
